.details {
  margin-left: 13%;
  margin-top: 10px;
}

.btn {
  margin-left: 3px;
  align-items: center;
}

.applicantphoto {
  height: 150px;
  width: 150px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
