@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

.navbar {
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.navbar button {
    margin-right: 20px;
    border: none;
}

.navbar ul {
    padding-left: 20px;
}

.navbar a {
    font-size: 130%;
}

.navbar-brand > img {
    width: 250px;
}

.container-fluid {
    padding: 0 !important;
    padding-left: 20px !important;
}

#navbarSupportedContent {
    padding-right: 20px;
}

.upperlayer {
    position: absolute;
    z-index: 999;
    width: 50%;
    height: 100%;
    background: white;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0) 100%);
    padding: 2% 0 2% 2%;
}

.upperlayer>h1 {
    font-size: 5rem;
    font-weight: 600;
    margin-left:1rem;
    letter-spacing: 0.5rem;
    color: black;
}

.upperlayer>h3 {
    margin-left: 20px;
}

.stats {
    width: 100%;
    min-height: 20vh;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
}

.stats>div {
    margin: 0 20px;
    font-size: 3rem;
    font-weight: 400;
    border-bottom: 4px solid rgb(130, 37, 6);
}

.card {
    margin: 0 20px 20px 20px;
}

.card>img {
    position: absolute;
}

.jobcardcollector {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 0 0 0;
    margin: 0 20px;
}

.jobcardmain {
    padding: 2% 2% 0% 2%;
}

.jobcardmain>h2 {
    margin-top: 1%;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

.whyus>h2 {
    margin: 2% 0;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

.testimonial>h2 {
    margin: 2% 0;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

.testimonialcard {
    min-width: 500px;
}

.testimonialkeeper {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 2% 2% 0% 2%;
}

footer li img {
    width: 40px;
}

footer > .container {
    padding-bottom: 0 !important;
}