.widgets {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.listContainer{
    display: flex;
    width: 100%;
    flex: 6;
}

.applicationsTable tr {
	height: 52px;
}

.filters label {
  font-weight: 600;
}

.filters > div {
  margin: 15px 0;
}